/*html記述
スクロールバーの有無で画面幅が変わって面倒だったので暫定スクロールバーOFF*/
html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

/*body記述
画像とナビバー被らないようにtopにマージン配置*/
body {
  margin-top: 56px;
  font-family: "Noto Sans JP";
}

/*ナブバー記述
色変えやホバー時の挙動など変更*/
.nav-tx {
  color: #333;
  text-underline-offset: 0.4em;
  --bs-navbar-active-color: #00a551;
}
.nav-tx:link {
  color: #333;
}
.nav-tx:visited {
  color: #333;
}
.nav-tx:hover {
  color: #00a551;
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.nav-now {
  color: #00a551;
}
.nav-now:hover {
  color: #00a551;
}
.navbar-toggler {
  border-color: #afb4db;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28175, 180, 219, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*ドロップダウンメニュー記述
クリックなしで展開するようにするなど*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .dropdown-toggle {
  color: #00a551;
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #fff;
  border-color: #fff;
  border-radius: 0px;
}
.dropdown-menu > li > a:hover {
  color: #00a551; /* This has an effect */
  background-color: #fff; /* This has an effect */
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
}

/*各項目の下線設定*/
.top-line {
  --bs-border-color: #dddddd;
  padding-top: 10px;
}

/*フッター*/
.footer {
  background-color: #00a551;
  color: #fff;
}

/*文字を下線に近づける*/
.title-margin {
  position: relative;
  bottom: 5px;
}

/*上部画像の固定*/
.stick {
  position: sticky;
  top: 56px;
  z-index: -3;
  background-color: #333;
  opacity: 0.6;
}

.above-contents {
  z-index: -2;
}
/* ラッパー（外側の要素） */
.video-wrapper {
  /*aspect-ratio: 16 / 9; /* 縦横比（アスペクト比） */
  overflow: hidden;
  position: relative; /* 絶対配置するコンテンツや疑似要素の基準とする */
  width: 100%;
  max-width: 100%;
}

/* 疑似要素でオーバーレイを表示 */
.video-wrapper::before {
  content: "";
  position: absolute; /* 絶対配置 */
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(9, 2, 108, 0.15);
}

/* video 要素 */
.video-wrapper video {
  width: 100%; /* 明示的に幅を設定（必須） */
  height: 100%; /* 明示的に高さを設定（必須） */
  object-fit: contain; /* コンテンツボックスに収まるように拡大縮小 */
  display: block;
}

.video-content {
  margin: 0;
  position: absolute; /* 絶対配置 */
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

#content .video-content h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 2px #444;
  color: #fff;
}

.video-content p {
  max-width: 600px;
  padding: 0 2rem;
}

/*card角変更*/
.edit_card {
  --bs-border-radius: 0rem;
}

/*モデルビューワー*/
model-viewer {
  width: 100%;
  height: 390px;
}

/*見出しライン*/
.hline {
  position: relative;
  font-size: 26px;
  text-align: center;
  border-bottom: 3px solid #dddddd;
  border-image: radial-gradient(#dddddd 65%, #f0fff0) 1;
}

.hline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #00a551;
}

.ex-back {
  position: relative;
  text-decoration: none; /*下線の削除*/
  color: inherit; /*文字色を黒に*/
  transition: 0.3s;
  padding: 0.5em;
}
/***** 背景 *****/
.ex-back:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #00a551; /*背景色*/
  width: 100%;
  height: 0%;
  transition: 0.3s;
  z-index: -1; /*ひとつ後ろに配置*/
}
/***** ホバー時のリンク(文字) *****/
.ex-text:hover {
  color: white;
  z-index: 5;
}
/***** ホバー時の背景 *****/
.ex-text:hover:after {
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 480px) {
  .video-wrapper {
    aspect-ratio: 1 / 1;
  }
  .video-content {
    top: 38%;
    margin-top: 1rem;
  }
}
