/*html記述
スクロールバーの有無で画面幅が変わって面倒だったので暫定スクロールバーOFF*/
/*
html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
*/

/*body記述
画像とナビバー被らないようにtopにマージン配置*/
body {
  height: 100%; /* 高さを100%に設定 */
  margin: 0;
  margin-top: 56px;
  font-family: "Noto Sans JP";
  background-color: #e4fffc;
}

/*ナブバー記述
色変えやホバー時の挙動など変更*/
.nav-tx {
  color: #333;
  text-underline-offset: 0.4em;
  --bs-navbar-active-color: #6495ed;
}
.nav-tx:link {
  color: #333;
}
.nav-tx:visited {
  color: #333;
}
.nav-tx:active {
  color: #6495ed;
}
.nav-tx:hover {
  color: #6495ed;
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.nav-now {
  color: #6495ed;
  text-underline-offset: 0.2em;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.nav-now:hover {
  color: #6495ed;
}
.navbar-toggler {
  border-color: #afb4db;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28175, 180, 219, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*ドロップダウンメニュー記述
クリックなしで展開するようにするなど*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .dropdown-toggle {
  color: #6495ed;
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #fff;
  border-color: #fff;
  border-radius: 0px;
}
.dropdown-menu > li > a:hover {
  color: #6495ed; /* This has an effect */
  background-color: #fff; /* This has an effect */
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
}

/*各項目の下線設定*/
.top-line {
  --bs-border-color: #dddddd;
  padding-top: 10px;
}

/*フッター*/
.footer {
  background-color: #6495ed;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 0px;
}

/*文字を下線に近づける*/
.title-margin {
  position: relative;
  bottom: 5px;
}

/*上部画像の固定*/
.stick {
  position: sticky;
  top: 56px;
  z-index: -3;
  background-color: #333;
  opacity: 0.6;
}

.above-contents {
  z-index: -2;
}
/* ラッパー（外側の要素） */
.video-wrapper {
  /*aspect-ratio: 16 / 9; /* 縦横比（アスペクト比） */
  overflow: hidden;
  position: relative; /* 絶対配置するコンテンツや疑似要素の基準とする */
  width: 100%;
  max-width: 100%;
}

/* 疑似要素でオーバーレイを表示 */
.video-wrapper::before {
  content: "";
  position: absolute; /* 絶対配置 */
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(9, 2, 108, 0.15);
}

/* video 要素 */
.video-wrapper video {
  width: 100%; /* 明示的に幅を設定（必須） */
  height: 100%; /* 明示的に高さを設定（必須） */
  object-fit: contain; /* コンテンツボックスに収まるように拡大縮小 */
  display: block;
}

.video-content {
  margin: 0;
  position: absolute; /* 絶対配置 */
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

#content .video-content h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 2px #444;
  color: #fff;
}

.video-content p {
  max-width: 600px;
  padding: 0 2rem;
}

/*card角変更*/
.edit_card {
  --bs-border-radius: 0rem;
}

/*モデルビューワー*/
model-viewer {
  width: 100%;
  height: 390px;
}

/*見出しライン*/
.hline {
  position: relative;
  font-size: 26px;
  text-align: center;
  border-bottom: 3px solid #dddddd;
  border-image: radial-gradient(#dddddd 65%, #e4fffc) 1;
}

.hline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #6495ed;
}

.ex-back {
  position: relative;
  text-decoration: none; /*下線の削除*/
  color: inherit; /*文字色を黒に*/
  transition: 0.3s;
  padding: 0.5em;
}
/***** 背景 *****/
.ex-back:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #00a551; /*背景色*/
  width: 100%;
  height: 0%;
  transition: 0.3s;
  z-index: -1; /*ひとつ後ろに配置*/
}
/***** ホバー時のリンク(文字) *****/
.ex-text:hover {
  color: white;
  z-index: 5;
}
/***** ホバー時の背景 *****/
.ex-text:hover:after {
  width: 100%;
  height: 90%;
}

/*リンク色変えなし*/
a {
  color: inherit;
  text-decoration: none;
}

/*小セクション左線*/
.hleft-line {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
}

/*スクロール先位置調整*/
.scroll {
  display: block;
  padding-top: 60px;
  margin-top: -60px;
}

/*ホーム画面実装*/
.element {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

#a,
#c {
  left: 0;
}

#b {
  left: 0px;
  z-index: 1;
}

#leftbutton,
#rightbutton {
  z-index: 0;
}

/*ボタン設定*/
.edit-button {
  border: 0;
  background-color: #fff;
  width: 100px;
}

/*3Dモデル表示*/
#lazy-load-poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../images/1HB.png");
}
#lazy-load-poster2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./../images/4HB2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#lazy-load-poster3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./../images/4HB2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#button-load,
#button-load2,
#button-load3 {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 6% 50%;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 10px 9px 10px;
  font-weight: 500;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

@media screen and (max-width: 480px) {
  .video-wrapper {
    aspect-ratio: 1 / 1;
  }
  .video-content {
    top: 38%;
    margin-top: 1rem;
  }
}

#canvas-container {
  width: 100%;
  height: 400px; /* 必要に応じて高さを調整 */
}

#slider {
  position: relative;
  display: block; /* スライダーをブロック要素として扱う */
  margin: 20px auto; /* 上下のマージンを追加し、自動で左右のマージンを設定 */
}

#slider {
  width: 25%;
}

#slider::before {
  content: "←"; /* 擬似要素を表示 */
  position: absolute; /* 絶対位置で配置 */
  top: 50%; /* 縦中央に配置 */
  left: -30px; /* 左に10pxずらす */
  width: 20px; /* 幅 */
  height: 27px; /* 高さ */
  transform: translateY(-50%); /* 縦方向で中央に位置を調整 */
}

#slider::after {
  content: "→"; /* 擬似要素を表示 */
  position: absolute; /* 絶対位置で配置 */
  top: 50%; /* 縦中央に配置 */
  left: 103%; /* 左に10pxずらす */
  width: 20px; /* 幅 */
  height: 27px; /* 高さ */
  transform: translateY(-50%); /* 縦方向で中央に位置を調整 */
}

.card-img-top {
  width: 100%;
  height: 24vw;
  object-fit: cover;
}
